.deps
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
stamp-h1
test-driver

*.o
*.lo
*.la
.dirstamp
.libs
src/psynth-cli
src/psynth3d
src/test/psynth_unit_test
src/test/example_graph_output
src/test/example_graph_patch
src/test/example_graph_perf
src/test/example_graph_scale
src/test/example_graph_soft

Doxyfile
libpsynth.pc
data/gui3d/plugins.cfg
src/psynth/version.hpp

build/
