[Desktop Entry]
Name=PsychoSynth
Name[es]=Psychosynth
Comment=Music synthesizer
Comment[es]=Sintetizador de música
Icon=psychosynth
Type=Application
Categories=AudioVideo;Audio;Recorder;
Exec=psynth3d
Terminal=false
MimeType=
